*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    overflow-x: hidden ;
  font-family: fantasy;
  text-align: center;
}
a,a:visited{
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}
